<div [class.right-panel-active]="isRightPanelActive" class="container">
  <div class="form-container sign-up-container">
    <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
      <h1>Crie sua conta</h1>

      <div class="input-group">
        <label for="name">Nome:</label>
        <input formControlName="name" placeholder="ex: João da Silva" type="text" />
        <div
          *ngIf="
            registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['required']
          "
          class="error-message"
        >
          Nome é obrigatório.
        </div>
        <div
          *ngIf="
            registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['minlength']
          "
          class="error-message"
        >
          Mínimo de 3 caracteres.
        </div>
      </div>

      <fieldset class="input-group gender-fieldset">
        <legend class="gender-legend">Gênero:</legend>

        <div class="gender-options">
          <input
            formControlName="gender"
            id="gender-male"
            name="gender"
            type="radio"
            value="MALE"
          />
          <label class="gender-btn" for="gender-male">Masculino</label>

          <input
            formControlName="gender"
            id="gender-female"
            name="gender"
            type="radio"
            value="FEMALE"
          />
          <label class="gender-btn" for="gender-female">Feminino</label>

          <input
            formControlName="gender"
            id="gender-other"
            name="gender"
            type="radio"
            value="OTHER"
          />
          <label class="gender-btn" for="gender-other">Outro</label>
        </div>

        <div
          *ngIf="
            registerForm.get('gender')?.touched && registerForm.get('gender')?.errors?.['required']
          "
          class="error-message"
        >
          Selecione uma opção.
        </div>
      </fieldset>

      <div class="input-group">
        <label for="cpf">CPF:</label>
        <input formControlName="cpf" maxlength="14" placeholder="000.000.000-00" type="text" />

        <div
          *ngIf="registerForm.get('cpf')?.touched && registerForm.get('cpf')?.errors?.['required']"
          class="error-message"
        >
          CPF é obrigatório.
        </div>

        <div
          *ngIf="
            registerForm.get('cpf')?.touched && registerForm.get('cpf')?.errors?.['cpfInvalid']
          "
          class="error-message"
        >
          CPF inválido. Informe um CPF real válido.
        </div>
      </div>

      <div class="input-group">
        <label for="email">E-mail:</label>
        <input formControlName="email" placeholder="ex: seu@email.com" type="email" />
        <div
          *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email']"
          class="error-message"
        >
          Email inválido.
        </div>
      </div>

      <div class="input-group">
        <label for="phone">Telefone:</label>
        <input formControlName="phone" placeholder="ex: (11) 99999-9999" type="tel" />
        <div
          *ngIf="
            registerForm.get('phone')?.touched && registerForm.get('phone')?.errors?.['required']
          "
          class="error-message"
        >
          Telefone é obrigatório.
        </div>
        <div
          *ngIf="
            registerForm.get('phone')?.touched && registerForm.get('phone')?.errors?.['pattern']
          "
          class="error-message"
        >
          Formato inválido. Ex: (81) 99999-9999
        </div>
      </div>

      <div class="input-group">
        <label for="password">Senha:</label>
        <div class="password-wrapper">
          <input
            [type]="showRegisterPass ? 'text' : 'password'"
            formControlName="password"
            placeholder="********"
          />
          <button (click)="toggleRegisterPass()" class="eye-btn" type="button">
            <svg
              *ngIf="!showRegisterPass"
              fill="none"
              height="20"
              stroke="#666"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              width="20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
            <svg
              *ngIf="showRegisterPass"
              fill="none"
              height="20"
              stroke="#4B0082"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              width="20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07-2.3 2.3"
              ></path>
              <line x1="1" x2="23" y1="1" y2="23"></line>
            </svg>
          </button>
        </div>
        <div
          *ngIf="
            registerForm.get('password')?.touched &&
            registerForm.get('password')?.errors?.['minlength']
          "
          class="error-message"
        >
          Mínimo de 6 caracteres.
        </div>
      </div>

      <div class="input-group">
        <label for="confirmPassword">Confirmar Senha:</label>
        <div class="password-wrapper">
          <input
            [type]="showConfirmPass ? 'text' : 'password'"
            formControlName="confirmPassword"
            placeholder="********"
          />
          <button (click)="toggleConfirmPass()" class="eye-btn" type="button">
            <svg
              *ngIf="!showConfirmPass"
              fill="none"
              height="20"
              stroke="#666"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              width="20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
            <svg
              *ngIf="showConfirmPass"
              fill="none"
              height="20"
              stroke="#4B0082"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              width="20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07-2.3 2.3"
              ></path>
              <line x1="1" x2="23" y1="1" y2="23"></line>
            </svg>
          </button>
        </div>
        <div
          *ngIf="
            registerForm.get('confirmPassword')?.touched &&
            registerForm.errors?.['passwordMismatch']
          "
          class="error-message"
        >
          As senhas não conferem.
        </div>
      </div>

      <button [disabled]="registerForm.invalid" type="submit">Cadastrar</button>
    </form>
  </div>

  <div class="form-container sign-in-container">
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
      <h1>Login</h1>

      <div class="input-group">
        <label for="email">E-mail:</label>
        <input formControlName="email" placeholder="ex: seu@email.com" type="email" />
        <div
          *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
          class="error-message"
        >
          Digite um email válido.
        </div>
      </div>

      <div class="input-group">
        <label for="password">Senha:</label>
        <div class="password-wrapper">
          <input
            [type]="showLoginPass ? 'text' : 'password'"
            formControlName="password"
            placeholder="********"
          />
          <button (click)="toggleLoginPass()" class="eye-btn" type="button">
            <svg
              *ngIf="!showLoginPass"
              fill="none"
              height="20"
              stroke="#666"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              width="20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
            <svg
              *ngIf="showLoginPass"
              fill="none"
              height="20"
              stroke="#4B0082"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              width="20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07-2.3 2.3"
              ></path>
              <line x1="1" x2="23" y1="1" y2="23"></line>
            </svg>
          </button>
        </div>
        <div
          *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
          class="error-message"
        >
          Senha muito curta.
        </div>
      </div>

      <a href="#">Esqueceu sua senha?</a>
      <button [disabled]="loginForm.invalid" type="submit">Entrar</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Bem-vindo de volta!</h1>
        <p>Para se conectar, faça login com suas informações pessoais</p>
        <button (click)="togglePanel()" class="ghost">Entrar</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Não tem uma conta?</h1>
        <p>Crie uma e comece a usar agora mesmo!</p>
        <button (click)="togglePanel()" class="ghost">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
