<div class="card" (click)="propertySelected.emit(property)">
  <div class="card-image-wrapper">
    <img
      *ngIf="firstPhotoUrl; else noPhoto"
      [src]="firstPhotoUrl"
      alt="Foto do imóvel"
      class="card-image"
    />
    <ng-template #noPhoto>
      <div class="card-no-photo">Sem foto</div>
    </ng-template>
  </div>

  <div class="card-body">
    <h3>{{ property.title }}</h3>

    <p class="price">
      R$ {{ property.price | number:'1.0-0' }}
    </p>

    <p class="neighborhood" *ngIf="property.address">
      {{ property.address.district }}, {{ property.address.city }}
    </p>
    <p class="neighborhood" *ngIf="!property.address && property.neighborhood">
      {{ property.neighborhood }}
    </p>

    <div class="card-tags">
      <span class="tag" *ngIf="property.availableVacancies">
        {{ property.availableVacancies }} vaga{{ property.availableVacancies > 1 ? 's' : '' }}
      </span>
      <span class="tag" *ngIf="property.acceptAnimals">
        Aceita animais
      </span>
    </div>
  </div>
</div>
