<a [routerLink]="['/details', propertyId]" class="card" [attr.aria-label]="propertyTitle">
  <div class="card-image-wrapper">
    <img
      *ngIf="firstPhotoUrl; else noPhoto"
      [src]="firstPhotoUrl"
      alt="Foto do imóvel"
      class="card-image"
    />
    <ng-template #noPhoto>
      <div class="card-no-photo">Sem foto</div>
    </ng-template>
  </div>

  <div class="card-body">
    <h3>{{ propertyTitle }}</h3>

    <p class="price">R$ {{ propertyPrice | number: '1.0-0' }}</p>

    <p *ngIf="propertyDistrict || propertyCity" class="neighborhood">
      {{ propertyDistrict }}<span *ngIf="propertyDistrict && propertyCity">, </span>{{ propertyCity }}
    </p>

    <div class="card-tags">
      <span *ngIf="propertyVacancies > 0" class="tag">
        {{ propertyVacancies }} vaga{{ propertyVacancies > 1 ? 's' : '' }}
      </span>
      <span *ngIf="propertyAcceptsAnimals" class="tag">Aceita animais</span>
      <span *ngIf="propertyHasGarage" class="tag">Garagem</span>
    </div>
  </div>
</a>
